services: 
  flink-alerts-job:
    build:
      context: .
      dockerfile: Dockerfile.flink
    container_name: alerts-forwarder
    # depends_on:
    #   - kafka
    #   - alertmanager_service
    environment:
      - PYTHONPATH=/opt/app
      - KAFKA_BROKERS=kafka:9092
      - ALERTMANAGER_SERVICE_URL=http://alertmanager_service:8090/alerts
    command: ["python", "/opt/app/alerts_forwarder.py"]

networks:
  default:
    external: true
    name: agcloud_ag_cloud
