
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6-Charts==6.9.0
PyQt6-Qt6==6.9.1
PyQt6-sip>=13.6
python-vlc


# ───── Web/API ─────
fastapi>=0.110
uvicorn[standard]>=0.29
flask

# ───── Metrics & HTTP ─────
prometheus-client>=0.20
requests>=2.31
httpx==0.27.0   # only needed when you switch to real Flink REST

# ───── gRPC & Protobuf ─────
grpcio>=1.56,<2
grpcio-tools>=1.56,<2
protobuf>=6,<7

# ───── Validation / crypto / auth ─────
pydantic>=2.9,<3
argon2-cffi
PyJWT>=2.9.0

# ───── Geospatial / Math ─────
shapely

# ───── Async / misc ─────
aiohttp
folium
plotly
shapely
PyJWT>=2.9.0
sip

SQLAlchemy>=2.0
psycopg2-binary>=2.9      # PostgreSQL driver
geoalchemy2>=0.15.0    

tenacity>=8.2
openai>=1.0.0
python-dotenv>=1.0.0
jsonschema>=4.0.0


