services:
  data-publisher:
    build: .
    container_name: data-publisher
    env_file: .env
    volumes:
      - ./data/air/images:/data/images:ro
      - ./data/air/metadata:/data/metadata:ro
    command: ["python", "-u", "/app/data_publisher.py"]

  sound-publisher:
    build: .
    container_name: sound-publisher
    env_file: .env.sound          
    volumes:
      - ./data/sound/sounds:/data/sound/sounds:ro    
      - ./data/sound/metadata:/data/sound/metadata:ro     
    command: ["python", "-u", "/app/data_publisher.py"]

  ultra-sound-publisher:
    build: .
    container_name: ultra-sound-publisher
    env_file: .env.ultra
    volumes:
      - ./data/ultra-sound/sounds:/data/ultra/sounds:ro
      - ./data/ultra-ultra-sound/metadata:/data/metadata:ro
    command: ["python", "-u", "/app/data_publisher.py"]
    
networks:
  default:
    external: true
    name: ag_cloud
