services:
  data-publisher:
    build: .
    container_name: data-publisher
    env_file: .env
    volumes:
      - ./data/air/images:/data/images:ro
      - ./data/air/metadata:/data/metadata:ro
    command: ["python", "-u", "/app/data_publisher.py"]

networks:
  default:
    external: true
    name: agcloud_ag_cloud
