
version: "3.9"

services:
  flink_writer_db:
    build:
      context: .
      dockerfile: Dockerfile.flink
    container_name: flink_writer_db
    environment:
      - KAFKA_BROKERS=kafka:9092
      - TOPICS=files,image_new_aerial_connections,sound_new_sounds_connections,sound_new_plants_connections,sounds_metadata,sounds_ultra_metadata
      - DB_API_BASE=http://db_api_service:8001
      - DB_API_AUTH_MODE=service
      - DB_API_SERVICE_NAME=flink-writer-db
      - DB_API_TOKEN_FILE=/app/secrets/db_api_token
      - FLINK_PARALLELISM=1
    # depends_on:
    #   - kafka
    #   - db_api_service
    networks:
      - ag_cloud
    restart: unless-stopped


networks:
  ag_cloud:
    external: true
