services:
  ripeness-api:
    image: ripeness-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ripeness-api
    environment:
      PGHOST: postgres
      PGPORT: "5432"
      PGDATABASE: missions_db
      PGUSER: missions_user
      PGPASSWORD: pg123

      MINIO_ENDPOINT: minio-hot:9000
      MINIO_SECURE: "false"
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin123

      MODEL_PATH: /models/best_conditional.pt
      MODEL_NAME: best_conditional
      BATCH_LIMIT: "500"
      FRUITS: "Apple,Banana,Orange"
    networks:
      - agcloud_net
    ports:
      - "8088:8088"
    restart: unless-stopped

networks:
  agcloud_net:
    external: true
    name: agcloud_ag_cloud
