DB_DSN=postgresql+psycopg://missions_user:pg123@host.docker.internal:5432/missions_db

PORT=8080

CONTRACTS_DIR=app/contracts

ALLOWED_TABLES=["event_logs_sensors","devices","image_new_aerial_connections","sound_new_sounds_connections","sounds_metadata","sounds_ultra_metadata","sound_new_plants_connections","aerial_images_metadata","aerial_image_object_detections","aerial_image_anomaly_detections","aerial_images_complete_metadata","field_polygons","aerial_image_segmentation"]

STRICT_UNKNOWN_FIELDS=true
