services:
  drone-publisher:
    build: .
    container_name: drone-publisher
    env_file: .env
    volumes:
      - ./images:/data/images:ro
      - ./metadata:/data/metadata:ro
    command: ["python", "-u", "/app/drone_publisher.py"]

networks:
  default:
    external: true
    name: agcloud_ag_cloud
