version: "3.9"

services:
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    env_file:
      - ./.env.kafka
    healthcheck:
      test: ["CMD", "bash", "-lc", "/opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 5s
      timeout: 3s
      retries: 30
    # Option: persist local data (not required for POC)
    # volumes:
    #   - ./data:/bitnami/kafka


  topics-init:
    image: bitnami/kafka:latest
    container_name: kafka-topics-init
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      BOOTSTRAP: "kafka:9092"
      RETENTION_DAYS: "7"
    volumes:
      - ./create-topics.sh:/work/create-topics.sh:ro
    entrypoint: [ "bash", "-lc" ]
    command: >
      'tr -d "\r" </work/create-topics.sh >/tmp/create-topics.sh &&
       chmod +x /tmp/create-topics.sh &&
       /tmp/create-topics.sh'
