fullnameOverride: kafka

# לעבוד ב-KRaft (ללא ZooKeeper)
kraft:
  enabled: true

# רפליקה אחת לכל רכיב
controller:
  replicaCount: 1
broker:
  replicaCount: 1

# שירות פנימי ו-PLAINTEXT בתוך הקלאסטר
service:
  type: ClusterIP
  ports:
    client: 9092

listeners:
  client:
    protocol: PLAINTEXT

# משתני סביבה חשובים
extraEnvVars:
  # לכבות יצירה אוטומטית של טופיקים
  - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
    value: "false"
  # לאפשר PLAINTEXT (ל-dev בתוך הקלאסטר)
  - name: ALLOW_PLAINTEXT_LISTENER
    value: "yes"
  # כי זה קלאסטר יחיד - פנימי של Kafka צריך replication=1
  - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
    value: "1"
  - name: KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
    value: "1"
  - name: KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR
    value: "1"
