**

!docker-compose.yml
!docker-compose.override.yml
!kafka/**
!connect/plugins/confluentinc-kafka-connect-mqtt-1.7.6/**

!Dockerfile
!values-kafka.yaml
!create-topics.sh
!ca/**

!.gitignore
!.gitattributes
!.dockerignore
!.env

data/
logs/
tmp/