services:
  fruit_ripeness_alert:
    build: .
    container_name: fruit_ripeness_alert
    environment:
      - DB_API_BASE=http://db_api_service:8001
      - DB_API_SERVICE_NAME=fruit_ripeness_alert
      - DB_ADMIN_USER=admin
      - DB_ADMIN_PASS=admin123
      - DB_API_TOKEN_FILE=/app/secret/db_api_token
      - KAFKA_BROKER=kafka:9092
      - ALERT_TOPIC=alerts
      - WINDOW_HOURS=168
    volumes:
      - .:/app 
      - ./secret:/app/secret
    command: ["sleep", "infinity"]
    networks:
      - ag_cloud

networks:
  ag_cloud:
    external: true
